RewriteEngine On
RewriteBase /

# ==============================
# REMOVE .PHP EXTENSION
# ==============================

# If request is not file/folder
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Check .php file exists
RewriteCond %{DOCUMENT_ROOT}/$1.php -f
RewriteRule ^(.+)$ $1.php [L]

# Redirect .php URL to clean URL
RewriteCond %{THE_REQUEST} \s/+(.+?)\.php[\s?] [NC]
RewriteRule ^(.+)\.php$ /$1 [R=301,L]